<!DOCTYPE html>

<html>
<head>
	<title>Learn 4000</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<div v-if="message">
			<h5>
				{{ message }}
			</h5>
			<hr />
		</div>

		First Name:
		<br />
		<input type="text" v-model="person.firstName" />
		<br />
		Last Name:
		<br />
		<input type="text" v-model="person.lastName" />

		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething()">Do Something</button>
	</div>

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/axios.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				message: null,

				person: {
					lastName: null,
					firstName: null,
				},

			},

			created: function () {

			},

			methods: {

				doSomething: function () {

					this.message = null

					let url =
						`/NewLearning/DoSomething7_1`

					axios.post(url, this.person)

						.then(response => {

							this.message = response.data.Message

						})
						.catch(error => {

							console.error(error)

						})
						.finally(() => {

						})

				},

			},

			computed: {

			},

		})

	</script>
</body>
</html>
