<!DOCTYPE html>

<html>
<head>
	<title>Learn 5000</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<h3>
		Using components in all Vue objects!
	</h3>

	<hr />

	<div id="app1" class="container" v-cloak>
		<ul>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
		</ul>
	</div>

	<hr />

	<div id="app2" class="container" v-cloak>
		<ul>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
			<todo-item></todo-item>
		</ul>
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>

		Vue.component(`todo-item`, {

			template: `<li>This is a todo item!</li>`,

		})

		const app1 = new Vue({

			el: `#app1`,

		})

		const app2 = new Vue({

			el: `#app2`,

		})

	</script>
</body>
</html>
