@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 400</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/NewSite.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		Full Name: {{ firstName }} {{ lastName }}
		<br />
		Full Name: {{ firstName + ' ' + lastName }}
		<br />
		Full Name: {{ firstName.toLowerCase() + ' ' + lastName.toLowerCase() }}
		<br />
		Full Name: {{ firstName.toUpperCase() + ' ' + lastName.toUpperCase() }}
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>

		const app = new Vue({

			el: '#app',

			data: {

				firstName: 'Dariush',
				lastName: 'Tasdighi',

			},

		})

	</script>
</body>
</html>
