<!DOCTYPE html>

<html>
<head>
	<title>Learn 3800</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h3>
			Connecting To Backend (Service) -> With Input Value!
		</h3>
		<hr />
		<h3 v-if="message">
			{{ message }}
		</h3>
		<hr />
		First Name:
		<br />
		<input type="text" v-model="firstName" />
		<br />
		Last Name:
		<br />
		<input type="text" v-model="lastName" />
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething1()">Do Something (1)</button>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething2()">Do Something (2)</button>
	</div>

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/axios.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				message: null,
				lastName: null,
				firstName: null,

			},

			created: function () {

			},

			methods: {

				doSomething1: function () {

					this.message = null

					let url =
						`/NewLearning/DoSomething5_1?firstName=${this.firstName}&lastName=${this.lastName}`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

							this.message = response.data.Message

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

				doSomething2: function () {

					this.message = null

					let url =
						`/NewLearning/DoSomething5_2`

					let postData =
						{ firstName: this.firstName, lastName: this.lastName }

					axios.post(url, postData)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

							this.message = response.data.Message

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

			},

			computed: {

			},

		})

	</script>
</body>
</html>
