@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		{{ title }}
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>
		const app = new Vue({

			el: `#app`,

			data: {

				title: `Hello, World!`,

			},

		})

	</script>
</body>
</html>
