@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/NewSite.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>
		{{ title }}

		<br />

		Google Chrome -> Console -> Write: app.title = 'Hello, Vue!' -> ENTER
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				title: `Hello, World!`,

			},

		})

	</script>
</body>
</html>
