<!DOCTYPE html>

<html>
<head>
	<title>Learn 5300</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h3>
			Using input parameters for components (BUG FIXED)!
		</h3>

		<hr />

		<display-header v-bind:title="headerTitle"></display-header>

		<hr />

		<ul>
			<todo-item v-for="item of todos" v-bind:todo="item"></todo-item>
		</ul>

		<hr />

		<ul>
			<todo-item v-for="item of todos" v-bind:key="item.id" v-bind:todo="item"></todo-item>
		</ul>

		<hr />
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>

		Vue.component(`display-header`, {

			props: [`title`],

			template: `<h3>{{ title }}</h3>`,

		})

		Vue.component(`todo-item`, {

			props: [`todo`],

			template: `<li>{{ todo.id }} - {{ todo.text }}</li>`,

		})

		const app = new Vue({

			el: `#app`,

			data: {

				headerTitle: `Hello, World!`,

				todos: [
					{ id: 1, text: `Learn CSS 3`, },
					{ id: 2, text: `Learn HTML 5`, },
					{ id: 3, text: `Learn VUE.JS`, },
					{ id: 4, text: `Learn JavaScript`, },
				],

			},

		})

	</script>
</body>
</html>
