<!DOCTYPE html>

<html>
<head>
	<title>Learn 800</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>

		<h1>{{ title }}</h1>

		<b>Note: Try always use () for calling functions!</b>

		<br />
		<br />

		<h3 v-on:click="doSomething">Click Me (1)!</h3>

		<h3 v-on:click="doSomething()">Click Me (2)!</h3>

		<h3 @@click="doSomething">Click Me (3)!</h3>

		<h3 @@click="doSomething()">Click Me (4)!</h3>

		<hr />

		@*<button type="button" @click="doSomethingNew">Click Me!</button>*@
		<button type="button" @@click="doSomethingNew">Click Me!</button>

		@*توجه کنید type="button" در دستورات فوق به*@

		<hr />

	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				title: `Welcome...`,

			},

			methods: {

				// **************************************************
				doSomething: function () {

					alert(`Hello, World!`)

				},
				// **************************************************

				// **************************************************
				doSomethingNew: function () {

					// Note: دستور ذیل کار نمی‌کند
					//title = `I'm Dariush Tasdighi!`

					this.title = `I'm Dariush Tasdighi!`

					//دستور ذیل خیلی عرف نیست
					//app.title = `I'm Dariush Tasdighi!`

				},
				// **************************************************

				// **************************************************
				// Learning Arrow Function!
				// مستندات ویوو با توجه به مشکلی که در کد ذیل بوجود می‌آید
				// ها استفاده نکنیم Arrow Function توصیه می‌کند که از

				doSomethingNewNew: () => {

					// کار نمی‌کند Arrow Function دقت کنید که دستور ذیل در
					//this.title = `I'm Dariush Tasdighi!`

					// Note: this.title is undefined!

					app.title = `I'm Dariush Tasdighi!`

				},
				// **************************************************

			},

		})

	</script>
</body>
</html>
