<!DOCTYPE html>

<html>
<head>
	<title>Learn 6600</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h3>
			Problem: Two Way Binding From Parent to Child!
		</h3>

		<hr />

		<input type="text" v-model="message" />
		<br />
		<dtx-component v-bind:external-message="message"></dtx-component>
	</div>

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/axios.js"></script>

	<script src="~/Scripts/jquery-3.4.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script>

		Vue.component(`dtx-component`, {

			props: [`externalMessage`],

			data: function() {

				return ({

				})

			},

			created: function (){

			},

			template:
				`<div>
					<input type="text" v-model="externalMessage" />
					<br />
					External Message: {{ externalMessage }}!
				</div>`,

			methods: {

			},

		})

		const app = new Vue({

			el: `#app`,

			data: {

				message: `Hello, World!`,

			},

			created: function () {

			},

			methods: {

			},

			computed: {

			},

		})

	</script>
</body>
</html>
