<!DOCTYPE html>

<html>
<head>
	<title>Learn 3100</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}

		.someName-enter {
			color: red;
			opacity: 0.2;
			font-weight: 100;
		}

		/*خیلی عرف نیست Style این*/
		/*.someName-enter-to {
			color: blue;
			opacity: .8;
			font-weight: 900;
		}*/

		.someName-enter-active {
			transition: all 10000ms;
		}

		/*خیلی عرف نیست Style این*/
		/*.someName-leave {
			color: blue;
			opacity: 0.8;
			font-weight: 900;
		}*/

		.someName-leave-to {
			color: red;
			opacity: 0.2;
			font-weight: 100;
		}

		.someName-leave-active {
			transition: all 10000ms;
		}

		/*طریقه استفاده ساده از انیمیشن در ویوو*/

		/*.someName-enter-active, .someName-leave-active {
			transition: opacity 1.5s;
		}

		.someName-enter, .someName-leave-to {
			opacity: 0;
		}*/
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h1>
			Learning Animation!
		</h1>

		@*https://vuejs.org/v2/guide/transitions.html*@

		<hr />

		<button type="button" class="btn btn-primary" v-on:click="show = !show">Toggle</button>

		<hr />

		<div class="card-columns">
			<transition name="someName">
				<div class="card bg-warning" v-if="show">
					<div class="card-header">
						Header
					</div>

					<div class="card-body">
						Body
					</div>

					<div class="card-footer">
						Footer
					</div>
				</div>
			</transition>
		</div>
	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				show: false,

			},

			methods: {

			},

			computed: {

			},

			created: function () {

			},

		})

	</script>
</body>
</html>
