@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}

		.flip-card {
			position: relative;
			transition: all 0.8s;
			transform-style: preserve-3d;
		}

			.flip-card .isFlipped {
				transform: rotateY(180deg);
			}

		.flip-card-front {
			z-index: 2;
			transition: 1s;
			position: relative;
			margin-bottom: 16px;
			backface-visibility: hidden;
			transform-style: preserve-3d;
		}

		.flip-card-back {
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			transition: 1s;
			position: absolute;
			backface-visibility: hidden;
			transform-style: preserve-3d;
		}
	</style>
</head>
<body>
	<div class="container" id="app" v-cloak>

		<h1>
			Flashcards!
		</h1>

		<hr />

		<br />
		<br />

		<div class="row">

			<div class="col-sm-3" v-for="item in flashcards">
				<div class="flip-card" v-on:click="doSomething(item)">
					<div class="flip-card-front"
						 v-bind:class="[item.isFlipped ? isFlippedCssClass : null]">
						<div class="card text-center bg-info border-secondary">
							<div class="card-body">
								{{ item.front }}
							</div>
						</div>
					</div>
					<div class="flip-card-back"
						 v-bind:class="[item.isFlipped ? null : isFlippedCssClass]">
						<div class="card text-center bg-warning border-secondary">
							<div class="card-body">
								{{ item.back }}
							</div>
						</div>
					</div>
				</div>
			</div>

		</div>

		<br />
		<br />

		<hr />

	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				isFlippedCssClass: `isFlipped`,

				flashcards: [
					{ front: `Front Text 1`, back: `Back Text 1`, isFlipped: false },
					{ front: `Front Text 2`, back: `Back Text 2`, isFlipped: false },
					{ front: `Front Text 3`, back: `Back Text 3`, isFlipped: false },
					{ front: `Front Text 4`, back: `Back Text 4`, isFlipped: false },
					{ front: `Front Text 5`, back: `Back Text 5`, isFlipped: false },
					{ front: `Front Text 6`, back: `Back Text 6`, isFlipped: false },
					{ front: `Front Text 7`, back: `Back Text 7`, isFlipped: false },
				]

			},

			methods: {

				doSomething: function (item) {

					item.isFlipped = !item.isFlipped

				}

			},

			computed: {

			},

			created: function () {

			},

		})

	</script>
</body>
</html>
