<!DOCTYPE html>

<html>
<head>
	<title>Learn 3400</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h3>
			Connecting To Backend (Service)!
		</h3>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething1()">Do Something (1)</button>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething2()">Do Something (2)</button>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething3()">Do Something (3)</button>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething4()">Do Something (4)</button>
		<hr />
		<button type="button" class="btn btn-primary" v-on:click="doSomething()">Do Something</button>
	</div>

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/axios.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

			},

			// قرار گیرد data بهتر است تابع ذیل بعد از
			created: function () {

			},

			methods: {

				doSomething1: function () {

					let url = `/NewLearning/DoSomething1`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

				doSomething2: function () {

					let url = `/NewLearning/DoSomething2`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

				doSomething3: function () {

					let url = `/NewLearning/DoSomething3`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

				doSomething4: function () {

					let url = `/NewLearning/DoSomething4`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

				doSomething: function () {

					let url = `/NewLearning/DoSomething`

					axios.get(url)

						.then(response => {

							console.clear()
							console.log(`[Then]`)
							console.log(response)

						})
						.catch(error => {

							console.clear()
							console.log(`[Error]`)
							console.error(error)

						})
						.finally(() => {

							console.log(`[Finally]`)

						})

				},

			},

			computed: {

			},

		})

	</script>
</body>
</html>
