@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/NewSite.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" v-cloak>

		<button type="button" v-on:click="toggleDisplay()">Toggle Display</button>

		<br />
		OR
		<br />

		<button type="button" v-on:click="display = !display">Toggle Display</button>

		@*<button type="button" v-on:click="this.display = !this.display">Toggle Display</button>*@

		<hr />

		<div v-show="display">
			Hello, World!
		</div>

		<div v-if="display">
			Hello, World!
		</div>

		<hr />

		<div v-if="display">
			Hello, World (1)!
		</div>
		<div v-else="display">
			Hello, World (2)!
		</div>

		<hr />

		Note: Now use Vue.js DevTools
		<br />
		Run Google Chrome -> ... -> More Tools -> Extensions -> Vue.js DevTools -> Details -> Toggle On: Allow access to file URLs
		-> Restart Google Chrome -> We must use [vue.js] instead of [vue.min.js]
		<br />
		https://github.com/vuejs/vue-devtools
		<br />
		https://chrome.google.com/webstore/detail/vuejs-devtools/nhdogjmejiglipccpnnnanhbledajbpd
	</div>

	@*You are running Vue in development mode.*@
	<script src="~/Scripts/vue.js"></script>

	@*<script src="~/Scripts/vue.min.js"></script>*@

	<script>

		// Note: For activating DevTools if you are using [vue.js]!
		//Vue.config.devtools = true

		const app = new Vue({

			el: `#app`,

			data: {

				display: true,

			},

			methods: {

				toggleDisplay: function () {

					this.display = !this.display

				},

			},

		})

	</script>
</body>
</html>
