<!DOCTYPE html>

<html>
<head>
	<title>Learn 2900</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h1>Learning Animation!</h1>

		<hr />

		<button type="button" v-on:click="show = !show">Toggle</button>

		<hr />

		<div class="card-columns">

			<div class="card bg-warning" v-if="show">

				<div class="card-header">
					Header
				</div>

				<div class="card-body">
					Body
				</div>

				<div class="card-footer">
					Footer
				</div>

			</div>

		</div>

	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				show: true,

			},

			methods: {

			},

			computed: {

			},

			created: function () {

			},

		})

	</script>
</body>
</html>
