<!DOCTYPE html>

<html>
<head>
	<title>Learn 5200</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<h3>
			Using v-for directive for components (WITH BUG)!
		</h3>

		<hr />

		<ul>
			<todo-item v-for="item of todos"></todo-item>
		</ul>
	</div>

	<script src="~/Scripts/vue.min.js"></script>

	<script>

		Vue.component(`todo-item`, {

			template: `<li>This is a todo item!</li>`,

		})

		const app = new Vue({

			el: `#app`,

			data: {

				todos: [
					{ id: 1, text: `Learn CSS 3`, },
					{ id: 2, text: `Learn HTML 5`, },
					{ id: 3, text: `Learn VUE.JS`, },
					{ id: 4, text: `Learn JavaScript`, },
				],

			},

		})

	</script>
</body>
</html>
