<!DOCTYPE html>

<html>
<head>
	<title>Learn 300</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app" class="container">
		{{ title }}
	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				title: `Hello, World!`,

			},

		})

	</script>
</body>
</html>
