<!DOCTYPE html>

<html>
<head>
	<title>Learn 1100</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div class="container" id="app" v-cloak>

		Welcome {{ fullName }}!
		<br />
		Welcome {{ fullName.toLowerCase() }}!
		<br />
		Welcome {{ fullName.toUpperCase() }}!
		<br />
		<input type="text" v-model="fullName" />

	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

				fullName: null,
				//fullName: undefined,
				//fullName: `Mr. Dariush Tasdighi`,

			},

			methods: {

			},

		})

	</script>
</body>
</html>
