<!DOCTYPE html>

<html>
<head>
	<title>Learn 7800</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app" class="container" v-cloak>

		<div class="panel panel-primary">
			<div class="panel-heading">
				<h3 class="panel-title">
					Panel Title
				</h3>
			</div>

			<div class="panel-body">
				Panel Body
			</div>

			<div class="panel-footer">
				Panel Footer
			</div>
		</div>

		<hr />

		<div class="card">
			<div class="card-header">
				<h3 class="card-title">
					Card Title
				</h3>
			</div>

			<div class="card-body">
				Card Body
			</div>

			<div class="card-footer">
				Card Footer
			</div>
		</div>

	</div>

	<script src="~/Scripts/vue.js"></script>
	<script src="~/Scripts/axios.js"></script>

	<script>

		const app = new Vue({

			el: `#app`,

			data: {

			},

		})

	</script>
</body>
</html>
