<!DOCTYPE html>

<html>
<head>
	<title>Learn 2300</title>

	<meta name="viewport" content="width=device-width" />

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />

	<style>
		[v-cloak] {
			display: none;
		}
	</style>
</head>
<body>
	<div id="app" class="container" v-cloak>
		<select v-model="selectedCountry1">
			<option v-for="item in countries">{{ item }}</option>
		</select>

		<div v-if="selectedCountry1">
			Selected Country: {{ selectedCountry1 }}
		</div>

		<hr />

		<select v-model="selectedCountry2">
			<option v-bind:value="null" disabled>Select an item...</option>
			<option v-for="item in countries">{{ item }}</option>
		</select>

		<div v-if="selectedCountry2">
			Selected Country: {{ selectedCountry2 }}
		</div>

		<hr />

		<select v-model="selectedCountry3">
			<option v-bind:value="null">Select an item...</option>
			<option v-for="item in countries">{{ item }}</option>
		</select>

		<div v-if="selectedCountry3">
			Selected Country: {{ selectedCountry3 }}
		</div>

		<hr />

		<select v-model="selectedCountry4">
			<option v-bind:value="null">Select an item...</option>
			<option v-for="item in countries" v-bind:value="item">{{ item }}</option>
		</select>

		<div v-if="selectedCountry4">
			Selected Country: {{ selectedCountry4 }}
		</div>

		<hr />

		<select v-model="selectedPerson">
			<option v-bind:value="null">Select an item...</option>
			<option v-for="item in people" v-bind:value="item">{{ item.fullName }} - {{ item.age }}</option>
		</select>

		<div v-if="selectedPerson">
			Selected Person:
			<br />
			Age: {{ selectedPerson.age }}
			<br />
			Full Name: {{ selectedPerson.fullName }}
		</div>

		<hr />

		<select v-model="selectedPersonId">
			<option v-bind:value="null">Select an item...</option>
			<option v-for="item in people" v-bind:value="item.id">{{ item.fullName }} - {{ item.age }}</option>
		</select>

		<div v-if="selectedPersonId">
			Selected Person Id: {{ selectedPersonId }}
		</div>

		<hr />

	</div>

	<script src="~/Scripts/vue.js"></script>

	<script>

		const allOfCountries = [
			`Country (1)`,
			`Country (2)`,
			`Country (3)`,
			`Country (4)`,
			`Country (5)`,
		]

		const allOfPeople = [
			{ id: 1, fullName: `Full Name (1)`, age: 21, },
			{ id: 2, fullName: `Full Name (2)`, age: 22, },
			{ id: 3, fullName: `Full Name (3)`, age: 23, },
			{ id: 4, fullName: `Full Name (4)`, age: 24, },
			{ id: 5, fullName: `Full Name (5)`, age: 25, },
		]

		const app = new Vue({

			el: `#app`,

			data: {

				selectedCountry1: null,
				selectedCountry2: null,
				selectedCountry3: null,
				selectedCountry4: null,

				selectedPerson: null,
				selectedPersonId: null,

				people: allOfPeople,
				countries: allOfCountries,

			},

			methods: {

			},

		})

	</script>
</body>
</html>
