@{
	Layout = null;
}

<!DOCTYPE html>

@*<html id="app">*@
<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/NewSite.css" rel="stylesheet" />
</head>
@*<body id="app">*@
<body>
	<div id="app">
		{{10 + 5}}
		<br />
		{{ 10 + 5 }}
		<br />
		{{ 10 - 5 }}
		<br />
		{{ 10 * 5 }}
		<br />
		{{ 10 / 5 }}
	</div>

	@*<script src="~/Scripts/vue.min.js"></script>*@

	<!-- development version, includes helpful console warnings -->
	@*<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>*@

	<!-- production version, optimized for size and speed -->
	<script src="https://cdn.jsdelivr.net/npm/vue"></script>

	<script>

		// کار نمی‌کند
		//new Vue();

		// کار نمی‌کند
		//new Vue({});

		//new Vue({
		//	el: "#app"
		//});

		// ایجاد خط فاصله
		//new Vue({

		//	el: "#app"

		//});

		// (;) حذف
		//new Vue({

		//	el: "#app"

		//})

		// درج (,) اضافه
		//new Vue({

		//	el: "#app",

		//})

		// Backtick استفاده از
		//new Vue({

		//	//el: "#app",
		//	//el: '#app',
		//	el: `#app`,

		//})

		// Variable تعریف یک
		//var app = new Vue({

		//	el: `#app`,

		//})

		// let استفاده از
		//let app = new Vue({

		//	el: `#app`,

		//})

		// بهتر است const برای متغیرهای بیرونی
		const app = new Vue({

			el: `#app`,

		})

	</script>
</body>
</html>
