@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />
	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>

	<a href="~/Home/Learn0100">Learn 100</a>
	<br />
	<a href="~/Home/Learn0200">Learn 200</a>
	<br />
	<a href="~/Home/Learn0300">Learn 300</a>
	<br />
	<a href="~/Home/Learn0400">Learn 400</a>
	<br />
	<a href="~/Home/Learn0500">Learn 500</a>
	<br />

	<a href="~/Home/Learn000">Learn 00</a>
	<br />

	<h3>
		Learning Ajax
	</h3>

	<a href="~/Home/Learn5000">Learn 5000</a>
	<br />

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/vue.min.js"></script>

</body>
</html>
