@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">

		<div class="container">

			<loading-modal></loading-modal>
			<display-error-messages v-bind:messages="errorMessages"></display-error-messages>
			<display-information-messages v-bind:messages="informationMessages"></display-information-messages>

			@*دستورات ذیل کار نمی‌کند*@
			@*<loading-modal />*@
			@*<display-error-messages v-bind:messages="errorMessages" />
				<display-information-messages v-bind:messages="informationMessages" />*@

			<div class="row">
				<div class="col-sm-6">
					<div class="row">
						<div class="col-sm-3">
							First Name
						</div>
						<div class="col-sm-9">
							<input type="text" v-model="firstName" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3">
							Last Name
						</div>
						<div class="col-sm-9">
							<input type="text" v-model="lastName" />
						</div>
					</div>

					<div class="row">
						<div class="col-sm-3 col-sm-offset-3">
							<button type="button" v-on:click="addNew()">Add New</button>
						</div>
					</div>

					<div class="row" v-if="isSuccess">
						<div class="col-xs-12">
							<hr />
							{{ responseData.id }}
							-
							{{ responseData.firstName }}
							{{ responseData.lastName }}
						</div>
					</div>
				</div>
			</div>

		</div>

	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/axios.min.js"></script>
	<script src="~/Scripts/global-components.js"></script>

	<script>

//		Vue.component('display-error-messages', {

//			props: ['messages'],

//			template:
//`<div class="alert alert-danger" v-if="messages && messages.length > 0">
//	<ul>
//		<li v-for="item in messages">{{ item }}</li>
//	</ul>
//</div>`,

//		})

//		Vue.component('display-information-messages', {

//			props: ['messages'],

//			template:
//				`<div class="alert alert-info" v-if="messages && messages.length > 0">
//	<ul>
//		<li v-for="item in messages">{{ item }}</li>
//	</ul>
//</div>`,

//		})

		new Vue({

			el: '#app',

			data: {

				lastName: null,
				firstName: null,

				isSuccess: false,
				responseData: null,
				errorMessages: null,
				informationMessages: null,

			},

			methods: {

				addNew: function () {

					$('div#myLoadingModal').modal({ backdrop: false, keyboard: false, })

					this.isSuccess = false
					this.responseData = null
					this.errorMessages = null
					this.informationMessages = null

					var requestUrl = '/Home/DoSomething5700'

					var requestData =
						{
							lastName: this.lastName,
							firstName: this.firstName,
						}

					axios.post(requestUrl, requestData)

						.then(response => {

							this.isSuccess = response.data.isSuccess
							this.errorMessages = response.data.errorMessages
							this.informationMessages = response.data.informationMessages

							if (this.isSuccess) {

								this.responseData = response.data.data

							}

						})
						.catch(error => {

							console.log(error)

						})
						.finally(() => {

							$('div#myLoadingModal').modal('toggle')

						})
				}

			},

		})

	</script>
</body>
</html>
