@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<h4>
			After display in browser! Activate Inspect! Breakpoint in getSubTotal function! Click on + or - and Debug it!
		</h4>
		<div class="container">
			<div class="row">
				<div class="col-xs-12 table-responsive">
					<table class="table table-bordered table-condensed table-striped table-hover">
						<tr>
							<th>Name</th>
							<th>Price</th>
							<th>Count</th>
							<th></th>
							<th></th>
							<th>Sub Total</th>
						</tr>
						<tr v-for="item in items">
							<td>{{ item.name }}</td>
							<td>{{ item.price }}</td>
							<td>{{ item.count }}</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs btn-block" v-on:click="plus(item)">+</button>
							</td>
							<td>
								<button type="button" class="btn btn-primary btn-xs btn-block" v-on:click="minus(item)">-</button>
							</td>
							<td>{{ getSubTotal(item) }}</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script src="~/Scripts/vue.js"></script>

	<script>

		new Vue({

			el: '#app',

			data: {

				items: [
					{ id: 1, name: 'Product (1)', price: 10, count: 1 },
					{ id: 2, name: 'Product (2)', price: 20, count: 1 },
					{ id: 3, name: 'Product (3)', price: 30, count: 1 },
					{ id: 4, name: 'Product (4)', price: 40, count: 1 },
					{ id: 5, name: 'Product (5)', price: 50, count: 1 },
				],

			},

			methods: {

				plus: function (item) {

					if (item.count < 10) {

						item.count++

					}

				},

				minus: function (item) {

					if (item.count > 0) {

						item.count--

					}

				},

			},

			// Note: Does Not Work! Because we have Computed Properties! not Computed Methods!
			// It means that computed properties should not have input parameter(s)!
			computed: {

				getSubTotal: function (item) {

					if (item.count <= 5) {

						let result =
							item.count * item.price

						return result

					}
					else {

						let result =
							item.count * item.price * 95 / 100

						return result

					}

				}

			},


		})

	</script>
</body>
</html>
