@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<link rel="icon" href="/favicon.ico" />
	@*<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />*@

	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		{{ message }}
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/vue.min.js"></script>

	<script>

		//new Vue()



		//var vm = new Vue({

		//	el: '#app',

		//	data: {

		//		message: "Hello World!"

		//	}

		//});



		//var app = new Vue({

		//	el: '#app',

		//	data: {

		//		message: 'Hello World!'

		//	}

		//});



		new Vue({

			el: '#app',

			data: {

				message: 'Hello World!',

			},

		})

	</script>
</body>
</html>
