@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		<div class="container">
			<dtx-grid-vue v-bind:settings="settings">

				<template slot="search">
					<h3>
						Search
					</h3>

					<div class="form-horizontal">

						<div class="row form-group">
							<label for="firstName" class="col-sm-3 control-label">
								First Name
							</label>
							<div class="col-sm-9">
								<input type="Search" id="firstName" class="form-control" placeholder="" v-model="settings.searchItems.firstName" />
							</div>
						</div>

						<div class="row form-group">
							<label for="lastName" class="col-sm-3 control-label">
								Last Name
							</label>
							<div class="col-sm-9">
								<input type="Search" id="lastName" class="form-control" placeholder="" v-model="settings.searchItems.lastName" />
							</div>
						</div>

					</div>
				</template>

			</dtx-grid-vue>
		</div>
	</div>

	<script src="~/Scripts/jquery-3.5.0.min.js"></script>
	@*<script src="~/Scripts/bootstrap.min.js"></script>*@
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/axios.min.js"></script>
	<script src="~/Scripts/dtx-components.js"></script>
	<script src="~/Scripts/dtx-grid-vue.1.0.2.js"></script>

	<script>

		var vm = new Vue({

			el: '#app',

			data: {

				settings: {

					url: '/Home/GetData6200',

					displayRowNumber: true,
					loadFirstPageAutomatically: false,

					columns: [
						{ name: 'firstName', title: 'First Name', },
						{ name: 'lastName', title: 'Last Name', sortable: true, sortKey: 'LastName', firstSortDirection: 1 },
						{ name: 'age', title: 'Age', sortable: true, },
						{
							name: 'salary',
							title: 'Salary',
							sortable: true,
							template: function (item) {

								let result =
									'<span style="color: red;">' + item.salary + '</span>'

								return result

							}
						},
					],

					searchItems: {
						lastName: null,
					}

				}

			},

		})

	</script>
</body>
</html>
