@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Index</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div id="app">
		{{ 10 + 5 }}
		<br />
		{{ 10 - 5 }}
		<br />
		{{ 10 * 5 }}
		<br />
		{{ 10 / 5 }}
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>

	<script src="~/Scripts/vue.js"></script>
	@*<script src="~/Scripts/vue.min.js"></script>*@

	<script>

		new Vue({

			el: '#app',

		})

	</script>
</body>
</html>
