@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 5000</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-rtl.min.css" rel="stylesheet" />
	<link href="~/Content/NewSite.fa-IR.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div id="app">

			<dtx-grid-vue v-bind:settings="settings">

				<template slot="search">

					<div class="form-horizontal">

						<div class="row form-group">
							<label for="firstName" class="col-sm-2 control-label">
								نام
							</label>
							<div class="col-sm-4">
								<input type="Search" id="firstName" class="form-control" placeholder="" v-model="settings.searchItems.firstName" />
							</div>

							<label for="lastName" class="col-sm-2 control-label">
								نام خانوادگی
							</label>
							<div class="col-sm-4">
								<input type="Search" id="lastName" class="form-control" placeholder="" v-model="settings.searchItems.lastName" />
							</div>
						</div>

					</div>

				</template>

			</dtx-grid-vue>

			<hr />
		</div>
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/axios.min.js"></script>

	<script src="~/Scripts/Dtx/dtx-components.js"></script>
	<script src="~/Scripts/Dtx/dtx-grid-vue-culture.fa-IR.js"></script>
	<script src="~/Scripts/Dtx/dtx-grid-vue.js"></script>

	<script>

		new Vue({

			el: '#app',

			data: {

				settings: {

					cultrue: dtxGridVueCulture,
					url: '/LearningDtxGridVue/GetData',

					// New!
					rtl: true,
					isSelectable: true,

					displayRowNumber: true,
					displayColumnSettings: true,
					loadFirstPageAutomatically: true,

					displayErrorMessages: false,
					displayInformationMessages: false,

					pageSize: 10,
					pageSizes: [5, 10, 20, 50, 100],

					columns: [
						{
							fieldName: 'isActive',
							title: 'فعال',
							isSortable: true,
							isCheckbox: true,
						},
						{
							fieldName: 'firstName',
							title: 'نام',
							isHidden: true,
						},
						{
							fieldName: 'lastName',
							title: 'نام خانوادگی',
							isSortable: true,
						},
						{
							fieldName: 'age',
							title: 'سن',
							isSortable: true,
							template: function (item) {

								let result =
									'<span style="color: red;"><b>' + item.age + '</b></span>'

								return result

							}
						},
						{
							fieldName: 'salary',
							title: 'حقوق',
							isSortable: true,
							firstSortDirection: 1,
							sortFieldName: 'FirstName',
							isHidden: true,
						},
					],

					searchItems: {
						lastName: null,
						firstName: null,
					},

				},

			},

		})

	</script>
</body>
</html>
