@{
	Layout = null;
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width" />

	<title>Learn 800</title>

	<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
	<link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
	<link href="~/Content/Site.css" rel="stylesheet" />
</head>
<body>
	<div class="container">
		<div id="app">
			<dtx-grid-vue v-bind:settings="settings"></dtx-grid-vue>
		</div>
	</div>

	<script src="~/Scripts/jquery-3.3.1.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
	<script src="~/Scripts/vue.min.js"></script>
	<script src="~/Scripts/axios.min.js"></script>

	<script src="~/Scripts/Dtx/dtx-components.js"></script>
	<script src="~/Scripts/Dtx/dtx-grid-vue-culture.js"></script>
	<script src="~/Scripts/Dtx/dtx-grid-vue.js"></script>

	<script>

		new Vue({

			el: '#app',

			data: {

				settings: {

					cultrue: dtxGridVueCulture,
					url: '/LearningDtxGridVue/GetData',

					displayRowNumber: true,
					loadFirstPageAutomatically: true,

					displayErrorMessages: false,
					displayInformationMessages: false,

					pageSize: 10,
					pageSizes: [5, 10, 20, 50, 100],

					columns: [
						{
							fieldName: 'firstName',
							title: 'First Name',
						},
						{
							fieldName: 'lastName',
							title: 'Last Name',
							isSortable: true,
						},
						{
							fieldName: 'age',
							title: 'Age',
							isSortable: true,
						},
						{
							fieldName: 'salary',
							title: 'Salary',
							isSortable: true,

							// New!
							firstSortDirection: 1,
						},
					],

				},

			},

		})

	</script>
</body>
</html>
